body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: blueviolet;
}

#countdown {
font-size: 3rem;
text-align: center;
color: maroon;
}